* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #374151;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-top: 32px;
}

/* MAIN LAYOUT */
#root {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 40px;
  display: flex; /* makes its children elements to be side-by-side */
  align-items: center; /* align its children vertically centered */
  justify-content: space-between; /* horizontally: split the remaining space between its children */
}

.columns-main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .columns-main {
    /* redefine grid-template-columns: 250px 1fr; */
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */
.logo-and-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-and-title img {
  height: 68px;
  width: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  /* added the below to compensate for extra margin-top space that comes with this font */
  line-height: 1;
  margin-top: 6px;
}

.list-of-categories {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #475569;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.voting-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}
.voting-buttons button {
  border: none;
  /* border: solid; */
  background-color: #64748b;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  /* border-color: #475569; */
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}
.voting-buttons button:hover {
  background-color: #334155;
}

ul {
  list-style: none;
}

.a:link,
.a:visited {
  color: #818cf8;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.a:hover,
.a:active {
  color: #f472b6;
}

.btn {
  border: none;
  color: inherit;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(0.25turn, #818cf8, #f472b6);
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 30px;
  padding: 20px 32px 17px;
}

.btn-all {
  margin-bottom: 16px;
  width: 100%;
}

.btn-other-categories {
  width: 100%;
  background-image: none;
}

/* FORM & @media for elements*/
.fact-form {
  background-color: #475569;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  border: none;
  border-radius: 100px;
  background-color: #64748b;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #9ca3af;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

/* FONTS */
.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 
*/
.sono-regular > {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-variation-settings: "MONO" 1;
}
